{% extends 'index/base.html' %} {% block content %} {% load static %}
<div
    class="bg-blue-300/50 py-60 bg-blend-overlay bg-no-repeat bg-[url('{% static 'images/doctor-bg.jpg' %}')] bg-cover bg-center flex flex-col justify-center items-start lg:px-36"
>
    <div class="w-full max-w-7xl mx-auto px-4 lg:px-8">
        <h1 class="w-2/3 text-pink-600 font-bold mt-8 text-7xl">
            Your Trusted Partner in Diagnostic Testing
        </h1>
        <p class="mt-4 font-bold text-md w-2/3 justify">
            Welcome to MEDISCAN, your trusted destination for accurate and
            reliable diagnostic testing. Experience personalized care, advanced
            technology, and precise results for your healthcare needs.
        </p>
    </div>
</div>
<section class="bg-white">
    <div
        class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8"
    >
        <div class="mx-auto max-w-lg text-center">
            <h2 class="text-3xl font-bold sm:text-4xl">
                What makes Us Special?
            </h2>
        </div>

        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
            <a
                class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/70"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="2em"
                    viewBox="0 0 512 512"
                    style="fill: #ec4899"
                >
                    <path
                        d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96v32V480H384V128 96 56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM96 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H96V96zM416 480h32c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H416V480zM224 208c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H288v48c0 8.8-7.2 16-16 16H240c-8.8 0-16-7.2-16-16V320H176c-8.8 0-16-7.2-16-16V272c0-8.8 7.2-16 16-16h48V208z"
                    />
                </svg>

                <h2 class="mt-4 text-xl font-bold text-black">
                    Advanced Technology and Expertise
                </h2>

                <p class="mt-1 text-sm text-gray-700">
                    Utilizing state-of-the-art equipment and a team of skilled
                    professionals to ensure accurate and precise diagnostic
                    results.
                </p>
            </a>

            <a
                class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/70"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="2em"
                    viewBox="0 0 512 512"
                    style="fill: #ec4899"
                >
                    <path
                        d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96v32V480H384V128 96 56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM96 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H96V96zM416 480h32c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H416V480zM224 208c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H288v48c0 8.8-7.2 16-16 16H240c-8.8 0-16-7.2-16-16V320H176c-8.8 0-16-7.2-16-16V272c0-8.8 7.2-16 16-16h48V208z"
                    />
                </svg>

                <h2 class="mt-4 text-xl font-bold text-black">
                    Multidisciplinary Team of Specialists
                </h2>

                <p class="mt-1 text-sm text-gray-700">
                    Our diagnostic center boasts a diverse team of doctors from
                    various specializations, collaborating to provide
                    comprehensive insights and holistic care.
                </p>
            </a>

            <a
                class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/70"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="2em"
                    viewBox="0 0 512 512"
                    style="fill: #ec4899"
                >
                    <path
                        d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96v32V480H384V128 96 56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM96 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H96V96zM416 480h32c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H416V480zM224 208c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H288v48c0 8.8-7.2 16-16 16H240c-8.8 0-16-7.2-16-16V320H176c-8.8 0-16-7.2-16-16V272c0-8.8 7.2-16 16-16h48V208z"
                    />
                </svg>

                <h2 class="mt-4 text-xl font-bold text-black">
                    Comprehensive Test Menu
                </h2>

                <p class="mt-1 text-sm text-gray-700">
                    Offering a wide range of diagnostic tests, providing
                    comprehensive insights into various health conditions.
                </p>
            </a>

            <a
                class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/70"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="2em"
                    viewBox="0 0 512 512"
                    style="fill: #ec4899"
                >
                    <path
                        d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96v32V480H384V128 96 56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM96 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H96V96zM416 480h32c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H416V480zM224 208c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H288v48c0 8.8-7.2 16-16 16H240c-8.8 0-16-7.2-16-16V320H176c-8.8 0-16-7.2-16-16V272c0-8.8 7.2-16 16-16h48V208z"
                    />
                </svg>

                <h2 class="mt-4 text-xl font-bold text-black">
                    Fast and Reliable Results
                </h2>

                <p class="mt-1 text-sm text-gray-700">
                    Delivering prompt and reliable test results, enabling timely
                    diagnosis and informed decision-making for better healthcare
                    outcomes.
                </p>
            </a>

            <a
                class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/70"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="2em"
                    viewBox="0 0 512 512"
                    style="fill: #ec4899"
                >
                    <path
                        d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96v32V480H384V128 96 56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM96 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H96V96zM416 480h32c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H416V480zM224 208c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H288v48c0 8.8-7.2 16-16 16H240c-8.8 0-16-7.2-16-16V320H176c-8.8 0-16-7.2-16-16V272c0-8.8 7.2-16 16-16h48V208z"
                    />
                </svg>
                <h2 class="mt-4 text-xl font-bold text-black">
                    Patient-Centric Approach
                </h2>

                <p class="mt-1 text-sm text-gray-700">
                    Focusing on personalized care, compassionate service, and a
                    comfortable environment to ensure an exceptional patient
                    experience throughout the diagnostic journey.
                </p>
            </a>

            <a
                class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/70"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="2em"
                    viewBox="0 0 512 512"
                    style="fill: #ec4899"
                >
                    <path
                        d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96v32V480H384V128 96 56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM96 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H96V96zM416 480h32c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H416V480zM224 208c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H288v48c0 8.8-7.2 16-16 16H240c-8.8 0-16-7.2-16-16V320H176c-8.8 0-16-7.2-16-16V272c0-8.8 7.2-16 16-16h48V208z"
                    />
                </svg>

                <h2 class="mt-4 text-xl font-bold text-black">
                    Collaborative Approach to Healthcare
                </h2>

                <p class="mt-1 text-sm text-gray-700">
                    With doctors from different specializations working
                    together, we offer an integrated and collaborative approach
                    to diagnostics, ensuring a well-rounded assessment of your
                    health.
                </p>
            </a>
        </div>

        <div class="mt-12 text-center">
            <a
                href="{% url 'register' %}"
                class="inline-block rounded bg-pink-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-pink-700 focus:outline-none focus:ring focus:ring-yellow-400"
            >
                Get Started Today
            </a>
        </div>
    </div>
</section>
{% endblock %}
