{% extends 'user/base.html' %}{% block user %}
<div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <h3 class="text-lg font-medium leading-6 text-gray-900">
                Personal Information
            </h3>
            <p class="mt-1 text-sm text-gray-500">
                Use a permanent address where you can receive mail.
            </p>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <label
                            for="name"
                            class="block text-sm font-medium text-gray-700"
                            >Full Name</label
                        >
                        <input
                            type="text"
                            name="name"
                            id="name"
                            autocomplete="given-name"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                            value="{{user.patient.name}}"
                        />
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label
                            for="phone"
                            class="block text-sm font-medium text-gray-700"
                            >Phone Number</label
                        >
                        <input
                            type="text"
                            name="phone"
                            id="phone"
                            pattern="01[3-9]{1}[0-9]{8}"
                            title="11 digit phone number"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                            value="{{user.patient.phone}}"
                        />
                    </div>

                    <div class="col-span-6 sm:col-span-4">
                        <label
                            for="email"
                            class="block text-sm font-medium text-gray-700"
                            >Email address</label
                        >
                        <input
                            type="text"
                            name="email"
                            id="email"
                            autocomplete="email"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                            value="{{user.email}}"
                        />
                    </div>

                    <div class="col-span-6">
                        <label
                            for="address"
                            class="block text-sm font-medium text-gray-700"
                            >Street address</label
                        >
                        <input
                            type="text"
                            name="address"
                            id="address"
                            autocomplete="address"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                            value="{{user.patient.address}}"
                        />
                    </div>

                    <div class="col-span-6 flex justify-end">
                        <button
                            type="submit"
                            class="inline-block rounded bg-pink-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-pink-700 focus:outline-none focus:ring focus:ring-yellow-400"
                        >
                            Update Profile
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
